Repository talaia-labs/rust-teos, pull requests merged in 2022-09, with the labels that each got.

#114 Fixes E2E test test_watchtower
  watchtower-plugin/tests/test.py
Labels: bug, tests, cln-plugin

#89 Fixes race condition in #84
  .github/workflows/cln-plugin.yaml
  watchtower-plugin/src/dbm.rs
  watchtower-plugin/src/lib.rs
  watchtower-plugin/src/main.rs
  watchtower-plugin/src/retrier.rs
  watchtower-plugin/src/wt_client.rs
  watchtower-plugin/tests/conftest.py
  watchtower-plugin/tests/pyproject.toml
  watchtower-plugin/tests/test.py
Labels: bug, Seeking Code Review, cln-plugin, hard to review

#120 tests: Fix `at_height` may panic
  teos/src/test_utils.rs
Labels: tests, easy to review

#117 watchtower-plugin: get rid of unnecessary `Arc<Mutex<` in `WTClient`
  watchtower-plugin/src/retrier.rs
  watchtower-plugin/src/wt_client.rs
Labels: cln-plugin, easy to review
